* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Roboto',sans-serif;

    --dark-grey: #f0ecec;
    --border: solid 1px var(--dark-grey)
}

.app-container {
    /* box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.2); */
    display: flex;
    flex-direction: row;
    position: absolute;
    top:0;
}

.sidebar {
    min-width: 25rem;
    height: 100vh;
    background-color: white;    
    /* border: var(--border);       */
    /* box-shadow: 0 0 0.06rem rgb(54 53 69 / 20%), 0.12rem 0.12rem 0.5rem rgb(54 53 69 / 30%); */
}


.toolbar-left {
    /* background-color: #e2e2e7;       */
    height: 100%;
    width: 100%;
    padding: 0.25rem 0;
    /* display: grid; */
    /* grid-auto-flow: row; */
    align-content: top;
    justify-items: left;
    display: flex;
    /* border-top-right-radius: 0.12rem;
    border-bottom-right-radius: 0.12rem;
    width: 2.5rem;
    padding: 0.25rem 0;
    display: grid;
    grid-auto-flow: row;
    align-content: center;
    justify-items: center; */
}

.toolbar-left-buttons {
    width: 3rem;
    padding: 0 0.15rem;
    /* height: 100%; */
    /* height: 100%; */
    /* width: 2.5rem;     */
}

.toolbar-left-body {
    background-color: brown;    
    height: 100%;
    width: 100%;

}

.btn {
    margin-bottom: 0.2rem;
    /* margin-right: 1rem; */
    width: 100%;
}






/* .button-selected{
    background-color: coral;
}



.button-container {
    display: flex;
    height: 3.5rem;
    border-bottom: var(--border);
}

.button {
  align-items: center;
  background-clip: padding-box;
  background-color: #f44336;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0.5rem;
  min-height: 2rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

.button:hover,
.button:focus {
  background-color: #f33220;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}

.button:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.three-menu {
    height: calc(50% - 1.5rem);
    border: var(--border);
} */

.property-menu {    
    overflow-y:auto;
    width: 100%;
    height: calc(50% - 1.5rem);
}

.property-root {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-bottom: var(--border);
}

.property-name {
    width: 40%;
    font-size: 14px;
}

.property-value {    
    width: 60%;    
    text-align: right;
    font-size: 14px;
}

#viewer-container {
    height: 100vh;
    width: 100%;
}

#logo-qc{
    padding: 1rem;
}

#file-input {
    visibility: collapse;
}
